extends ../.././layouts/default

block main
  h1 Danh sach san pham
  .card
    .card-body
      table.table
        thead
          tr
            th STT
            th Hinh anh
            th Tieu de
            th Gia
            th Trang thai
            th Hanh dong
          tbody
            each product,index in products
              tr
                td #{index + 1}
                td
                  img(src=`#{product.thumbnail}`)
                td #{product.title}
                td #{product.price}$
                if product.status == "active"
                  td
                    p.text-success Hoat dong
                else
                  td
                    p.text-danger Dung hoat dong
                td
                  button.btn.btn-sm.btn-warning Sua
                  button.btn.btn-sm.btn-danger Xoa
                
          
