include .././mixins/sub-menu

header.header
  .container.header-bar
    .left
      a(href="/")
        img(src="/img/enaAvatar.png" height="100px" width="100px" class="header-img")
    .right
      ul.nav-list
        li.nav-item
          a(href="/") Trang chủ
        li(class="nav-item sub-menu")
          a(href="/products") Trang sản phẩm
            -let pathProduct = "/products"
            +sub-menu(layoutProductCategory, pathProduct)
