//-----------------header-----------------------
* {
  border-type: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header .container ul {
  postition: absolute;
  right: 50px;
}

.header {
  border-bottom: 1px solid black;
}

.header-bar img {
  display: flex;
  justify-content: center;
  align-item: center;
}
.header-bar {
  display: flex;
  align-item: center;
    gap: 900px;
  position: relative;
  padding-top: 20px;
}

//---------------------------------------------

//-----------------------footer-------------
.footer {
  height: 100px;
  background-color: #000000;
}
.footer p {
  text-align: center;
  size: 50px;
  color: #ffffff;
  background-color: #000000;
}

//--------------------------------------------
//---------------------product item-----------
.container .product-list {
  display: flex;
  justify-content: space-between;
}
.product-item {
  background-color: #f2f2f2;
  margin: 20px 20px 50px;
border-radius: 20px;
    padding-bottom: 15px;
}
.product-item:hover{
    opacity: 0.7;
}

.product-oldPrice {
  text-decoration: line-through;
    font-weight: bold;
    color: red;
    margin-left: 15px;
}

.product-price{
    font-weight: bold;
    color: green;
    margin-left: 15px;
}

.product-discount{
    background-color: green;
    color: white;
    width: 20%;
    text-align: center;
    border-radius: 20px;
}
.product-name {
  font-weight: bold;
  font-size: 30px;
    color: black;
}

.product-img{
    margin-top: 10px;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
}

.product-featured{
    background-color: green;
    color: white;
    width: 100px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.product-detail{
    margin-top: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 0 30px;
    border-radius: 15px;
}

.product-desc{
    text-align: center;

}

//------------------------------------------------
//----------------box-head------------------------
.box-head {
  margin: 20px 0;
}

.box-head h1 {
  text-color: pink;
  font-size: 50px;
  margin-left: 50px;
}
//----------------------------------------------

//-----------------sub menu--------------------
.nav-list{
    position: relative;
}

.sub-menu{
    position: absolute;
}

.sub-menu ul{
    position: absolute:
    left: 0;
}
