mixin select-tree(records, level = 1)
  - const prefix = new Array(level + 1).join("-- ")

  for item in records
    option(value=item.id) #{prefix}#{item.title}
    if item.children
      +select-tree(item.children, level + 1)
