header.header
  .container.header-bar
    .left
      a(href=prefixAdmin)
        img(src=(settings.logo || "/img/enaAvatar.png") height="100px" width="100px" class="header-img")
    .right
      ul.nav-list
        li.nav-item
          a(href=`${prefixAdmin}/my-account` class="btn btn-primary") #{user.fullName}
        li.nav-item
          a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger") Dang xuat
